{% extends "base.html" %}
{% block content %}
<h1>Генератор рекомендаций пабликов</h1>
<table style="display: inline-block; border: 4px solid #E26803">
         {% for key, value in outputTable.iteritems() %}

            <tr>
               <th> <a href="{{ value }}"> {{ key }}</a> </th>
            </tr>

         {% endfor %}
</table>

<table style="display: inline-block; border: 4px solid #E26803">
     {% for key, value in outputTable2.iteritems() %}

        <tr>
           <th> <a href="{{ value }}"> {{ key }}</a> </th>
        </tr>

     {% endfor %}
</table>

<table style="border: 4px solid #E26803">
     {% for key, value in friends.iteritems() %}
        <tr>
            <th> <a href="{{ key }}"> {{ value }}</a> </th>
        </tr>

     {% endfor %}
</table>
{% endblock %}